.mozilla/
/dconf
/Kitware
/pulse/
/yay/
.mozilla/firefox/Crash Reports
user-dirs.dirs
user-dirs.locale
user-dirs.locale
dconf
htop
calcure/
go/telemetry/local
nvim/
JetBrains/PhpStorm2025.3
autostart
mimeapps.list
CLAUDE.md
jgit
